:root{
    --dark:#374151;
    --darker:#1F2937;
    --darkest:#111827;
    --gray:#6b7280;
    --light:#eee;
    --pink:#ec4899;
    --purple:#8b5cf6;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'fira sans',sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark);
    color: white;
}
header{
    padding: 2rem 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}
header h1{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--gray);

}
#new-task-form{
    display: flex;

}
input,button{
    border: none;
    outline: none;
    background: none;
    appearance: none;
}
#new-task-input{
    flex: 1 1;
    background: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-task-input ::placeholder{
    color: gray;
}
#new-task-submit{
    color: var(--light);
    font-size: 1.25rem;
    font-weight: 700;
    background: linear-gradient(to right, var(--pink),var(--purple));
    padding: 0 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
#new-task-submit:active{
    opacity: 0.6;
}
main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.tasks-list{
    padding: 1rem;
}
.tasks-list h2{
    font-size: 2rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}
.task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
#tasks .content .text{
    color: var(--light);
    font-size: 1.25rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}
#tasks .content .text:not(:read-only){
    color: var(--pink);
}
#tasks .action{
    display: flex;
    margin: 0 0.5rem;
}
.action button{
    cursor: pointer;
    margin: 0 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
}
#tasks .edit{
    background-image: linear-gradient(to right, var(--pink),var(--purple));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-color: darkblue;
   
}
#tasks .delete{
    color: crimson;
}